@page
@using Packt.Shared
@model PacktFeatures.Pages.CustomersPageModel

<div class="row">
    <h1 class="display-2">Customers</h1>
    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th>Company Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Customer customer in Model.Customers)
            {
                <tr>
                    <td>
                        <a href="customer?=@customer.CustomerID">@customer.CompanyName</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
